.title{
    background-color: rgba(31, 99, 148, 0.904);
    text-align: center;
    width:100%;
    height:100%;
    object-fit: cover;
}
/* .table:last-child{
    border-bottom-width: 0  ;
    background-color: red;
} */