

.table-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-flex{
  display: flex;
}
.submit-btn {
  background: linear-gradient(45deg, #01063d, #0012fe);
  color: var(--main-white-color);
  text-transform: uppercase;
}
.submit-btn:hover {
  background-color: var(--main-blueHover-color);
  color: var(--main-white-color);
}